/*** Major content block in restaurant page****/

.content-block-inner-main{
	padding-top: 10px;
	width:90%;
}
.content-block-inner-pic {
	width:80px;
	height:80px;
	border-radius: 5px;
	vertical-align: top;
}
.content-block-inner-text{
	display:inline-block;
	border-collapse: collapse;
	left:5px;
	right:5px;
	border: none;
	font-family: avenir;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.content-block-inner-text tr td{
	border-collapse: collapse;
}

.content-block-inner-title{
	font-size: 16px;
	font-weight: bold;
	width:100%;
	color:#010101;
}
.content-block-inner-star{
	vertical-align:bottom;
}
.content-block-inner-return{
	color:#AA0000;
	font-weight: bold;
	text-align: right;
	font-size: 12px;
}

.content-block-inner-address{
	color:#AAAAAA;
	font-weight:lighter;
	font-size: 12px;
}

.content-block-inner-tel {
	color:#AAAAAA;
	font-weight:lighter;
	font-size: 12px;
	vertical-align:bottom;
}
.content-block-inner-miles{
	text-align: right;
	color:#AAAAAA;
	font-weight:lighter;
	font-size: 12px;
}
.content-block-inner-hours{
	text-align: right;
	color:#AAAAAA;
	font-weight:lighter;
	font-size: 12px;
	vertical-align:bottom;
}


/***  ***/
.item-inner-main {
	font-family: verdana;
	color:#BBBBBB;
	
}
.item-inner-title {
	color:#888888;
}
.item-inner-price {
	color:#888888;
	text-align: right;
}
.item-inner-type {
	font-size:12px;
}
.item-inner-data {
	font-size:12px;
	text-align: right;
}

/*** left panel ***/
.left-panel-portrait-img {
	width:100px;
	height:100px;
	border-radius:50px;
}


.left-panel-portrait{
	text-align: center;
	padding-top:15px;
}
.left-panel-username{
	text-align: center;
	padding:3px;
	color:#CCCCCC;
	font-size: 24px;
	font-family: Verdana;
	border-bottom: 1px solid #404040;
	padding-bottom: 3px;
}
.left-panel-table {
	width:100%;
	border-color:#FFFFFF;
	border-width:none;
}
.left-panel-table td{
	border-bottom: 1px solid #404040;
	border-collapse: collapse;
	padding-top: 13px;
	padding-bottom: 13px;

}
.left-panel-list{
	font-size: 24px;
	font-family: Verdana;	
}

/***  ***/
.toolbar-inner-table {
	width:100%;
}
.toolbar-inner-left {
	width:10%;
	background-color: transparent;
}
.toolbar-inner-right {
	width:10%;
	background-color: transparent;
}

.toolbar-inner-request-table {
	font-size :20px;

}

.toolbar-inner-request-table-button {
	text-align: center;
	background-color: #8ac007;
	border-radius: 10px;
}
.toolbar-inner-request-table-button a{
	display: inline;
	text-align: center;
	color:#FFF;
	background-color: #8ac007;
}

/*** Login page ***/

.content-login {
	width:90%;

	margin:0 auto;
	text-align: center;
}

.div-center {
	width:100%;
	padding: 10px;
	margin:0 auto;
	text-align: center;
}

.login-input-box {
	text-transform: lowercase;
	border:none;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	width:100%;
	text-align: left;
}

.login-content-title {
	font-size: 48px;
	padding-bottom: 40px;
	padding-top: 40px;
}
.login-content-score {
	font-size: 36px;
	padding-bottom: 25px;
	padding-top: 25px;
}

::-webkit-input-placeholder {
	color:#EEDCDA;
}

.login-button {
	border-width:2px;
	border-color:#EEDCDA;
	color:#EEDCDA;
	vertical-align: middle;
}
.login-button:active{
	background-color:#EEDCDA;
	color:#B65042;
}
.login-button-area {
	padding-top: 50px;
}


/*scoreboard*/

#scoreboard {
	display:block;
	padding-left: 10px;
	padding-top: 10px;
}
#timeleft{
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}
.topbar {
	width:100%;
	padding-top: 20px;
}
.in-game-portrait {
	display:block;
	margin:0 auto;
	border-radius: 20px;
	width:40px;
	height: 40px;
}

#scorebar {
	margin:0 auto;
	border-bottom:solid;
	width: 100%;
	border-width: 4px;
	margin-bottom: 3px;
	border-radius: 3px;


}
.color-scorebar-green {
	color: rgba(64,117,4,0.80);
}

.time-container {
	margin-top:10px;
	padding:4px 1px 1px 1px;
	border-radius: 10px;
	width: 100%;
	background-color: #434447;
}
/*** useful shit ***/


.card {
	margin: 0 10px 10px 10px;
}

.text-right {
	text-align: right
}
.font-bold {
	font-weight: bold;
}
.font-lighter{
	font-weight: lighter;
}
.font-size16{
	font-size: 16px;
}
.font-size14{
	font-size: 14px;
}
.font-size12{
	font-size: 12px;
}
.font-size10{
	font-size: 10px;
}
.border-round {
	border-radius: 5px;
}

.left-padding-10 {
	padding-left: 10px
}

.bg-trans {
	background-color:transparent;
}

.bg-pred{
	background-color: #252629;
/*	background-image: url('../blur_22834.jpg')*/
}
.color-pwhite{
	/*color:#EEDCDA;*/

	color:  #EEEEEE;
}
.div-line {
	margin:0 auto;
	border:none;
	border-bottom:solid;
	width: 100%;
	border-width: 2px;
}
.font-verdana{
	font-family: Gill Sans;
}
.fullwidth {
	width:100%;
	text-align: left;
}
.small-tag {
	border-radius: 6px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right : 10px;
	float:left;
}
.padding-left-no {
	padding-left: none;
}
.item-inner-star{
	display: inline;
}
.ul-no-bullet {
	list-style: none;
	padding: 0px; 	
}
.padding-top-no {
	padding-top:0px;
	margin-top: 0px;
}
.top-border-no {
	border-top: none;
	border-top: 0px;
}
.bottom-border-no {
	border-bottom: none;
	border-bottom:0px;
}
.border-top-solid {
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #B8B7BC;
}

.thick-border {
	border-color: white;
}

.song-selection {
	padding-top: 15px;
}
.login-content-score {
	text-align: left;
	font-size: 36px;
}



/* This part is used for frontpage images layout */
ul.img-list {
  list-style-type: none;
/*margin:0 auto;*/
  padding: 0;
  display: inline;
  text-align: center;
}
 
ul.img-list li {
  display: inline-block;
  height: 100px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 100px;
}

span.text-content {
  /*background: rgba(0,0,0,0.5);*/
  color: white;
  cursor: pointer;
  display: table;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
}

.center-this-div {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;

}
.center-divs-child {
	text-align: center;
}
/*recommend-list*/
.recommend-list {
	background-image: -o-linear-gradient(-89deg, #1D1448 0%, #252629 100%);
background-image: -moz-linear-gradient(-89deg, #1D1448 0%, #252629 100%);
background-image: -ms-linear-gradient(-89deg, #1D1448 0%, #252629 100%);
background-image: linear-gradient(-179deg, #1D1448 0%, #252629 100%);
overflow: hidden;
}
.recommend-list-title {
	padding:20px 10px;
}
/*bg-default*/ 
.sup-list {
	background-color: #252629;
	color:white;
	border:none;
}
/* slider-slide */
.slider-slide-title {
	background-color: #FFFFFF;
}
.recommend-list-slider{
	padding-left: 30px;
}
.slider-slide-img {
	width:100%;
	height: auto;
}

.slider-slide-title{
	margin:10px 0px 15px; 
	padding-top: 5px;
	padding-bottom: 20px;
	background: #434447;
}
.slider-slide-title-text {
	color:#EEE;
	padding-left: 10px;
	text-align: left;
}
/*Play button*/

.playbutton{
	color: #EEE;
	background-color: #417505;
	border-color:#417505;
	border-radius: 15px;
}
@-webkit-keyframes blurFadeInOut{
	0%{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	20%,75%{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
	100%{
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-webkit-transform: scale(0);
	}
}
@-webkit-keyframes blurFadeIn{
	0%{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	50%{
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-webkit-transform: scale(1.1);
	}
	100%{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes fadeInBack{
	0%{
		opacity: 0;
		-webkit-transform: scale(0);
	}
	50%{
		opacity: 0.4;
		-webkit-transform: scale(2);
	}
	100%{
		opacity: 0.2;
		-webkit-transform: scale(5);
	}
}
@-webkit-keyframes fadeInRotate{
	0%{
		opacity: 0;
		-webkit-transform: scale(0) rotate(360deg);
	}
	100%{
		opacity: 1;
		-webkit-transform: scale(1) rotate(0deg);
	}
}
/**/
@-moz-keyframes blurFadeInOut{
	0%{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	20%,75%{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
	100%{
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-moz-transform: scale(0);
	}
}
@-moz-keyframes blurFadeIn{
	0%{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	100%{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
}
@-moz-keyframes fadeInBack{
	0%{
		opacity: 0;
		-moz-transform: scale(0);
	}
	50%{
		opacity: 0.4;
		-moz-transform: scale(2);
	}
	100%{
		opacity: 0.2;
		-moz-transform: scale(5);
	}
}
@-moz-keyframes fadeInRotate{
	0%{
		opacity: 0;
		-moz-transform: scale(0) rotate(360deg);
	}
	100%{
		opacity: 1;
		-moz-transform: scale(1) rotate(0deg);
	}
}
/**/
@keyframes blurFadeInOut{
	0%{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	20%,75%{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
	100%{
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		transform: scale(0);
	}
}
@keyframes blurFadeIn{
	0%{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	50%{
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1.1);
	}
	100%{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}
@keyframes fadeInBack{
	0%{
		opacity: 0;
		transform: scale(0);
	}
	50%{
		opacity: 0.4;
		transform: scale(2);
	}
	100%{
		opacity: 0.2;
		transform: scale(5);
	}
}
@keyframes fadeInRotate{
	0%{
		opacity: 0;
		transform: scale(0) rotate(360deg);
	}
	100%{
		opacity: 1;
		transform: scale(1) rotate(0deg);
	}
}
#notificationbar{
	z-index: 10;
}

.fadein {
	-webkit-animation: blurFadeIn 1s ease-in backwards;
	-moz-animation: blurFadeIn 1s ease-in backwards;
	-ms-animation: blurFadeIn 1s ease-in backwards;
	animation: blurFadeIn 1s ease-in backwards;
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
}

.fadeaway {
	-webkit-animation: blurFadeInOut 3s ease-in backwards;
	-moz-animation: blurFadeInOut 3s ease-in backwards;
	-ms-animation: blurFadeInOut 3s ease-in backwards;
	animation: blurFadeInOut 3s ease-in backwards;
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
}







