.content-block-inner-main{
	padding-top: 10px;
	width:90%;
}
.content-block-inner-pic {
	width:80px;
	height:80px;
	border-radius: 5px;
	vertical-align: top;
}
.content-block-inner-text{
	display:inline-block;
	border-collapse: collapse;
	left:5px;
	right:5px;
	border: none;
	font-family: helvetica neue;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.content-block-inner-text tr td{
	border-collapse: collapse;
}

.content-block-inner-title{
	font-size: 16px;
	font-weight: bold;
	width:100%;
	color:#010101;
}
.content-block-inner-star{
	vertical-align:bottom;
}
.content-block-inner-return{
	color:#AA0000;
	font-weight: bold;
	text-align: right;
	font-size: 12px;
}

.content-block-inner-address{
	
	color:#AAAAAA;
	font-weight:lighter;
	font-size: 12px;
}

.content-block-inner-tel {
	color:#AAAAAA;
	font-weight:lighter;
	font-size: 12px;
	vertical-align:bottom;
}
.content-block-inner-miles{
	text-align: right;
	color:#AAAAAA;
	font-weight:lighter;
	font-size: 12px;
}
.content-block-inner-hours{
	text-align: right;
	color:#AAAAAA;
	font-weight:lighter;
	font-size: 12px;
	vertical-align:bottom;
}



.item-inner-main {
	font-family: verdana;
	color:#BBBBBB;
	
}
.item-inner-title {
	color:#888888;
}
.item-inner-price {
	color:#888888;
	text-align: right;
}
.item-inner-type {
	font-size:12px;
}
.item-inner-data {
	font-size:12px;
	text-align: right;
}

.left-panel-portrait-img {
	width:100px;
	height:100px;
	border-radius:50px;
}


.left-panel-portrait{
	text-align: center;
	padding-top:15px;
}
.left-panel-username{
	text-align: center;
	padding:3px;
	color:#CCCCCC;
	font-size: 24px;
	font-family: Verdana;
	border-bottom: 1px solid #404040;
	padding-bottom: 3px;
}
.left-panel-table {
	width:100%;
	border-color:#FFFFFF;
	border-width:none;
}
.left-panel-table td{
	border-bottom: 1px solid #404040;
	border-collapse: collapse;
	padding-top: 13px;
	padding-bottom: 13px;

}
.left-panel-list{
	font-size: 24px;
	font-family: Verdana;	
}


.toolbar-inner-table {
	width:100%;
}
.toolbar-inner-left {
	width:10%;
	background-color: transparent;
}
.toolbar-inner-right {
	width:10%;
	background-color: transparent;
}

.toolbar-inner-request-table {
	font-size :20px;

}

.toolbar-inner-request-table-button {
	text-align: center;
	background-color: #8ac007;
	border-radius: 10px;
}
.toolbar-inner-request-table-button a{
	display: inline;
	text-align: center;
	color:#FFF;
	background-color: #8ac007;
}

.card {
	margin: 0 10px 10px 10px;
}

.text-right {
	text-align: right
}
.font-bold {
	font-weight: bold;
}
.font-lighter{
	font-weight: lighter;
}
.font-size16{
	font-size: 16px;
}

.border-round {
	border-radius: 5px;
}

.left-padding-10 {
	padding-left: 10px
}



